<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head lang="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>接我</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Description...">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/content/jiewo.css">
    <script src="//hm.baidu.com/hm.js?5804c823d47df4f965f49dcd4554ca69"></script>
    <script src="/static/scripts/jquery-1.10.2.min.js"></script>
    <script src="/static/scripts/mobileSwipe.js"></script>
    <!-- <script src="http://web.jiewo.com/js/tongji.js"></script> -->
    <script src="/static/scripts/tmp.js"></script>
    <script type="text/javascript">
		webUrl = "http://web.jiewo.com";
		webImage = "http://web.jiewo.com/images";
    </script>
    <link rel="stylesheet" type="text/css" href="http://api.map.baidu.com/res/20/bmap_autocomplete.css">
</head>
<body>
    <header>
        <a class="back" href="javascript:history.go(-1)"></a>
        <div class="title">
            林萃桥—奥北科技园
        </div>
    </header>
    <div class="homebanner">
        <div class="scroll" id="scrollBox">
            <div class="scroll_box" id="scroll_img" style="visibility: visible;">
                <ul class="scroll_wrap">
                    <li data-index="0">
                        <a href="http://www.baidu.com" data-ajax="false">
                            <img style="width: 100%;" src="/static/content/ad.jpg">
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="scroll_position" id="scroll_position" style="display:none;">
                <li class="on"><a href="javascript:void(0);">1</a></li>
            </ul>
        </div>
    </div>

    <div
    <input class="int" type="text" placeholder="请输入您的位置" id="fromFind" readonly="readonly">


    <input class="button" type="button" value="分享有礼" id="findSearchFerry">


</body>
</html>